* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: rgb(214, 180, 180);
    color: pink;
    box-shadow:rgb(214, 180, 180)
}

#bio #content {
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
    /* flex-wrap: wrap; */
    align-items: center;
}

#bio p {
    font-size: 23px;
    font-family: monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    display:flex;
    flex-wrap:wrap;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;
    padding:1%;
}
/* .content {
    width: 75%;
    display:inline-block;
    margin-left: 20px;
} */

#content img {
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-bottom: 15px;
}

/* .content h1 {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%; 
    font-size: 16px;
} */

/* .content p {
    display:flex;
    flex-direction: column;
    text-align: right;
    margin-right: 40%;
    margin-top:10%;
    line-height: 1.5;
    padding:20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    
} */




/* p {
    font-size: 16px;
} */


.workadoo {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: auto;
    margin:auto;
    justify-content: space-between;

}



.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    
    
}



.gallery img {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: auto; 
    
}


.left img {
    align-self:flex-start;
    display:flex;
    height:650px;
    width:750px;
    float:left; 
}

.project1 {
    font-weight:bold;
    font-size:24px;
    font-family:monospace, Arial;
    text-align:center;
    border-style: solid;
    border-color:white;
}

.right img {
    align-self:flex-end;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: auto;
    float:right;
}

.project2 {
    font-weight:bold;
    font-size:24px;
    font-family:monospace, Arial;
    text-align:center;
    border-style: solid;
    border-color:white;
}

.project3 {
    font-weight:bold;
    font-size:24px;
    font-family:monospace, Arial;
    text-align:center;
    border-style: solid;
    border-color:white;
}

.project4 {
    font-weight:bold;
    font-size:24px;
    font-family:monospace, Arial;
    text-align:center;
    border-style: solid;
    border-color:white;
}

.project5 {
    font-weight:bold;
    font-size:24px;
    font-family:monospace, Arial;
    text-align:center;
    border-style: solid;
    border-color:white;
}

.contact-stuff img {
    flex:wrap;
    width: 24px;
    height: 24px;

}

.introduce {
    font-family:monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    text-align:center;
    margin: 40px 0px;
    padding:20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}